*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #505050;
}
p{
    color: white !important;
}
header{
    display: flex;
    width: 100%;
    background: #505050;
    flex-direction: column;
    align-items: center;
}

#menu{
    width: 800px;
    height: 58px;
    background: #505050;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo img{
    height: 40px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 10px ;
}
nav ul li a{
    text-decoration: none;
    color:white;
}
nav ul li :hover{
    color: violet;
}


/*-----------------------------------------*/

.header{
    width: 800px;
    height: 400px;
    background: #505050;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.header img{
    height: 400px;
    width:800px;
}
/*-------------------------------------------*/
/*-------------------------------------------*/
/*----------------BODY-------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

#container{
    width: 800px;
    height: 500px;
    background: #cdcdcd;
    margin: 0 auto;
}
.box-1{
    width: 250px;
    height: 465px;
    background: #303030;
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    box-shadow: 2px, 2px, 10px #000000;
    border-radius: 10px;
    transition: 1s;
}
.v2{
    width: 230px;
}
.F-menu{
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(39, 39, 39);
}
a{
    text-decoration: none;
}
.T-menu{
    position: relative;
    top:5px;
    color:white;
    text-align: center;
    font-size: 2em;
    background: transparent;
}
    .color-black{
        color: black !important;
    }
.box{
    width: 230px;
    height: 225px;
    background: #303030;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 10px;
    transition: 0.5s;
}
.box-1:hover{
    transform: scale(1.03);
    box-shadow: 11px 4px 57px -3px rgba(0,0,0,0.65);
-webkit-box-shadow: 11px 4px 57px -3px rgba(0,0,0,0.65);
-moz-box-shadow: 11px 4px 57px -3px rgba(0,0,0,0.65);

}
.box:hover{
    transform: scale(1.03);
    box-shadow: 11px 4px 57px -3px rgba(0,0,0,0.65);
-webkit-box-shadow: 11px 4px 57px -3px rgba(0,0,0,0.65);
-moz-box-shadow: 11px 4px 57px -3px rgba(0,0,0,0.65);
}
.color-var{
    color: #4b4a47;
}
.color-var2{
    color: #7e6a41;
}


/*-------------------------------------------*/
/*-------------------------------------------*/
/*----------------HFInf Body-----------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

#Continer-text{
    width: 800px;
    background: #706e6e;
    margin: 0 auto;
}
.container-center{
    width: 100%;
    float: left;
    background: #706e6e;
    padding-bottom: 40px;
}
.caja-menu{
    width: 150px;
    
    background: #505050;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    position: sticky;
    top: 50px;
}
    ol{
        list-style: none;
        margin-left: 15px;
        margin-top: 20px;
    }
    ul{
        margin-left: 25px;
    }
    a{
        text-decoration: none;
        font-size: .8em;
        color: white;
    }
.caja-info{
    width: 600px;
    
    background: #505050;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.Foto-box-left{
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5px;
}
    h2{
        color: rgb(126, 106, 65);
        margin-top: 15px;
        text-align: center;
        font-size: 2em;
    }

    p{
        color: rgb(56, 55, 55);
        margin-top: 15px;
        text-align: left;
        margin-left: 10px;
        font-size: 1em;
    }
    strong{
        color:#7e6a41;
    }
    .Thomas-Davy{
        width: 200px;
        height: 150px;
        float: left;
        margin-left: 10px;
        margin-top: 20px;
        margin-right: 5px;
    }
    .Foto-Centro{
        width: 200px;
        height: 200px;
        margin:0 auto;
        margin-top: 20px;
        display: block;

    }




.image-center{
    margin: 0 auto !important;
    display: block;
    margin: 10px;
}

/*-------------------------------------------*/
/*-------------------------------------------*/
/*----------------LOGIN BODY-----------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

.form-container{
    width: 550px;
    height: 400px;
    background: #757474;
    border-radius: 10px;
    margin-top: 50px !important;
    margin: 0 auto;
    
}
.img-form{
    width: 250px;
    height: 400px;
    background-image: url("../image/fotografia-nocturna.jpg");
    background-size: cover;
    float: left;
}

.img-form h2{
    color: white;
    background: transparent;
}

.box-form{
    float:right ;
    width: 280px;
    height: 370px;
    margin: 10px;
}
.box-form h1{
    text-align: center;
    font-family:sans-serif;
    color: rgb(218, 199, 192);
    padding: 10px;
}
.form-grup{
    padding: 15px;
}
.form-grup input{
    padding: 10px;
    margin-top:10px;
    margin-left: 10px;
    width: 200px;
    border-radius: 3px;
    background: #cdcdcd;
}
.form-grup label{
    color: white;
    font-size: x-large;
    margin-left: 10px;
}
.boton{
    margin-left: 13px;
}

/*-------------------------------------------*/
/*-------------------------------------------*/
/*---------------REGISTRO BODY---------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
.fondo{
    background-color: #505050;
}

.form-register{
    width: 300px;
    height: 400px;
    background-color: rgb(119, 118, 118);
    margin: 0 auto;
    margin-top: 50px;
    border: 3px solid rgba(61, 61, 61, 0.5) ;
}
.box-register{
    width: 300px;
    height: 400px;
    background-color:rgb(75, 74, 74);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.box-register h1{
    color: rgb(255, 255, 255);
    font-size: xx-large;
    margin-bottom: 10px;
}
.box-r input{
    display: block;
    float: left;
    width: 100px;
    margin-left: 10px;
    background: #cdcdcd;
}
.box-l input{
    width: 235px;
    background: #cdcdcd;
}
.box-register form{
    padding: 10px;
}
    .box-register form span{
        color: #706e6e;
        font-size: small;
        margin: 5px;
        margin-bottom: 10px;
    }
.box-register form input{
    padding: 10px;
    margin-bottom: 10px;
}


/*-------------------------------------------*/
/*-------------------------------------------*/
/*---------------CONTACTO BODY---------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

#container-contacto{
    width: 780px;
    height: 400px;
    background: #919090;
    margin: 0 auto;
    padding: 10px;
}
.box-contacto{
    width: 350px;
    height: 350px;
    background: #b8b5b5;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    
}
    .tm-mf{
        height: 200px;
    }
.text-cont{
    color: white;
    font-size: x-large;
    background: transparent;
}
.left{
    margin-left:15px;
}
.me-inf{
    width: 150px;
    height: 150px;
    margin-left: 10px;
    float: left;
    display: block;
    background: #b8b5b5;
}
    .border-left{
        border-left: 1px solid rgb(112, 112, 112);
        border-top: 1px solid rgb(99, 98, 98);
        background: #eedabf;
    }
.me{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("../image/avatar/artworks-000334513803-sbiope-t500x500.jpg");
    background-size:cover;
    
}
    .lt{
        border-bottom: 1px solid rgb(87, 85, 85);
        
    }
    .me-inf p{
        font-size:small;
        border-bottom:1px solid rgb(70, 70, 70) ;
        text-align: center;
        background: transparent;
    }
    .me-inf strong{
        display: block;
        background: transparent;
        
    }

#cuestionario{
    width: 800px;
    height: 400px;
    background: #706e6e;
    margin: 0 auto;
}
.text-cuestion{
    text-align: center;
    color: white;
}
.Cuestion{
    width: 370px;
    height: 300px;
    background: #b2aeae;
    margin:15px;
    display: block;
    float: left;
    border-radius: 10px;
}
.Box-cuest{
    margin: 10px;
    text-align: left;
    background: transparent;
}
.Box-cuest label{
    display: block;
    padding: 10px;
    font-size: large;
    background: transparent;
}
    .Box-cuest span{
        background: transparent;
    }
.boton-cuestion {
    text-align: center;
    background: transparent;
}
.boton-cuestion input{
    padding: 10px;
    width: 150px;
    background: #cdcdcd
}

textarea{
    resize: none;
    background: #ccc;
}


/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------Footer------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

footer{
    width: 100%;
    background: #505050;
    text-align: center;
    padding: 10px;
    clear: both;
}
footer h4{
    font-size: x-small;
    color: white;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.red-in{
    display: block;
    padding: 10px;
    background: #3b3b3b;
    margin: 10px;
}
footer i{
    color:white;
}

footer .red-in:hover{
    background: rgb(121, 120, 121);
}